@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Pizzeria Corner</h1>

<h2>Contact</h2>

<h3>8439-048-2349</h3>

<p><b> KK.Nagar, Chennai - 600-116 </b></p> <p><img src="~/images/img7.jpg" /></p>


<div>
    <a asp-action="Create">Back To Menu</a>
</div>



